@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
	overflow: hidden;
	background-image: url(../images/background.jpg);
}
section
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.container
{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 200px);
    min-height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
header
{
    position: absolute;
    top: -83px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(255,255,255,0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}
header .logo
{
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
header ul li a
{
   text-decoration: none;
   font-weight: 500;
   color: black;
   padding: 8px 15px;
   border-radius: 25px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(84,84,22,0.2);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5%;
}
.container .card:hover .content
{
    opacity: 1;
    transform: translateX(0px) translateY(-20px);
}
.container .card .content .imgbx
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);
}
.container .card .content .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content .contentbx h3
{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.container .card .content .contentbx h3 span
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.container .card .sci
{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.container .card .sci li
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.container .card:hover .sci li
{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .sci li a
{
    color: #fff;
    font-size: 24px;
}